.body-container {
  padding: 20px 30px;
  background-color: rgb(7, 200, 249, 0.5);
  min-height: 100vh;
}

.search-container {
  padding: 10px 20px;
  background-color: #d9d9d9;
}

.table-container {
  min-height: 800px;
  padding: 20px;
  background-color: #d9d9d9;
  width: 100%;
}

@media (min-width: 576px) {
  .search-container,
  .table-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .search-container,
  .table-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .search-container,
  .table-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .search-container,
  .table-container {
    max-width: 1340px;
  }
}

th,
td {
  text-align: center;
}

.img {
  padding: 10px;
}

.avatar {
  width: 100%;
}

.avatar-container {
  width: 300px;
}

.detail-form {
  min-height: 100%;
  padding: 20px 30px;
}

.account-form {
  margin-top: 20px;
  padding: 20px 30px;
}

.left-container {
  background-color: #d9d9d9;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.user-label {
  width: 200px !important;
}

.user-input {
  width: 600px;
}

.class-card {
  max-width: 500px;
}

.btn-detail {
  margin-left: 30px;
}

.custom-file-upload {
  text-align: center;
}

.searchBar {
  width: 1200px;
}

.filter-label {
  width: 150px;
  vertical-align: center;
  padding: 0;
  margin: 0;
}

.filter-field {
  width: 400px;
}
