body {
  font-family: "IBM Plex Mono", monospace !important;
}

.login-container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 60px;
  font-weight: 600;
  color: #06234f;
}

.btn-dark {
  background: #06234f !important;
}

.login-button {
  min-width: 100%;
  width: 100%;
  height: 50px;
  border-radius: 30px;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo-container {
  background-color: white !important;
}

.logo-container Button {
  width: 70px;
}

.dropdown-toggle::after {
  display: none !important;
}

.notification-dot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.avatar {
  width: 100%;
  height: 100%;
}

#avatar-dropdown {
  width: 50px;
  margin: 0 !important;
  padding: 0 !important;
}
