.myNav {
    background-color: #EAC696;
    height: 100px;
}

.myContainer {
    margin: 0px 10px 0 10px !important;
    max-width: 2000px !important;
}

.logo {
    width: 80px;
    height: 80px;
}

.brand {
    vertical-align: middle;
}

.mid-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myButton {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    background-color: #EAC696 !important;
}

.btn-color {
    background: #EAC696;
}